.itemsShop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #75757527;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 20px;
}

.company {
  text-transform: uppercase;
  font: sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  flex: 1;
}
