*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5;
}
body {
  font-size: 1rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #35322f;
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background: #e0d6ccd6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.name-container {
  text-align: center;
}

.full-name {
  text-transform: uppercase;
  font: sans-serif;
  font-weight: bold;
  text-align: center;
}

.showcase {
  font-weight: normal;
  font: sans-serif;
  font-size: 0.8em;
  display: block;
  text-align: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav-toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #5f5c59;
  border-radius: 5px;
}

.nav-toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-toggler {
    display: block;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: #e0d6cc;
    flex-direction: column;
    transform: translateX(100%);
  }
}

.nav-active {
  transform: translateX(0);
}
